<!-- Content area - Bảng dữ liệu -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View by page title and screen class</h5>
            <div class="table-responsive">
              <table class="table text-nowrap align-middle mb-0">
                <thead>
                  <tr class="border-2 border-bottom border-primary border-0"> 
                    <th scope="col-lg-2" class="ps-0">ID</th>
                    <th scope="col">Tên danh mục</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">chức vụ</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row" class="ps-0 fw-medium">
                      <span class="table-link1 text-truncate d-block">1</span>
                    </th>
                    <td>
                        <a href="javascript:void(0)" class="link-primary text-dark fw-medium d-block">Nội thất phòng ngủ</a>
                      </td>
                    <td>
                      <a href="javascript:void(0)" class="link-primary text-dark fw-medium d-block">ảnh</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary m-1">Sửa</button>
                        <button type="button" class="btn btn-danger m-1">Xóa</button>
                  </tr>
                  <tr>
                    <th scope="row" class="ps-0 fw-medium">
                      <span class="table-link1 text-truncate d-block">2</span>
                    </th>
                    <td>
                      <a href="javascript:void(0)" class="link-primary text-dark fw-medium d-block">Nội thất phòng khách</a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="link-primary text-dark fw-medium d-block">ảnh</a>
                      </td>
                  </tr>
                  <!-- Các dòng khác -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
